@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-light: #DAF2D9;
    --green-darker: #73B172;
    --red: #F2D9D9;
    --red-darker: #E36363;
    --detail-purple: #C1B2FA;
    --neutral-color: #746E82;
    --primary-color: #7A5FEC;
    --primary-color-v1: #FBFAFF;
    --primary-color-v2: #F3F0FF; 
    --primary-color-v3: #F9F8FB;
    --primary-color-v4: #ebe6ff;
    --primary-color-v5: #E9E3F8;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    /* height: 100vh; */
    max-width: 100vw;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    background-color: var(--primary-color-v1);
}

input[type="file"] {
    visibility: hidden;
}

.purple {
    background: var(--primary-color-v5);
}

.green {
    background: var(--green-light);
}

.red {
    background: var(--red);
}

.upload-wrapper {
    margin: 2.5rem auto 0;
    display: grid;
    place-content: center;
    place-items: center;
    border: dashed 2px var(--detail-purple);
    border-radius: 1rem;
    height: 15rem;
    width: 40rem;
    background: var(--primary-color-v2);
    transition: all ease-in-out 180ms;
    cursor: pointer;
}

.upload-wrapper:hover,
.upload-wrapper.dragging {
    background: var(--primary-color-v4);
}

.upload-wrapper:hover svg {
    scale: 1.2;
}

.upload-wrapper svg {
    width: 4rem;
    transition: all ease-in-out 180ms;

}

.upload-wrapper__title {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 1rem;
}

.upload-wrapper__description {
    font-size: .875rem;
    margin-top: .3rem;
    color: var(--neutral-color);
}

.inputed-files {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin: 2rem auto;
    gap: .5rem;
    /* overflow-x: scroll; */
    width: 50vw;
}

.inputed-file {
    background: var(--primary-color-v3);
    width: 1000%;
    padding: 1rem 2rem;
    max-width: 40rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 16px #EAE2FD;
    display: grid;
    grid-template-columns: 1.125fr 4fr 1fr;
    grid-template-areas: 
        "icon-container file-name file-name cancel-btn"
        "icon-container inputed-file__file-bytes . ."
        "icon-container progress-bar progress-bar progress-bar";
    gap: .875rem;
    transition: transform ease-in 150ms;
}

.inputed-file:hover {
    transform: scale(1.02);
}

.inputed-file__icon-container {
    grid-area: icon-container;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 1rem;
}

.inputed-file--error .inputed-file__icon-container {
    background: var(--red);
}

.inputed-file__icon-container svg {
    width: 2rem;
}

.inputed-file__icon-container.green svg path {
    fill: var(--green-darker);
}

.inputed-file--error .inputed-file__icon-container svg path {
    fill: var(--red-darker);
}

.inputed-file__progress {
    height: .5rem;
    border: none;
    border-radius: .5rem;
}

.inputed-file__progress.green::-moz-progress-bar  {
    background-color: var(--green-darker);


}

.inputed-file--error .inputed-file__progress {
    border: 1px solid var(--red-darker);
}

.inputed-file__file-name {
    grid-area: file-name;
}

.inputed-file__delete-file {
    grid-area: cancel-btn;
    place-self: end;
}

.inputed-file__delete-file svg {
    position: relative;
    width: .8rem;
    cursor: pointer;
    transition: transform ease-in 100ms;
}

.inputed-file__delete-file svg:hover {
    transform: scale(1.2);
}

.inputed-file__progress {
    grid-area: progress-bar;
}
